{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >
			{% block header %}
			<div class="header-image-container">
				<img src="{{theme.path}}/images/biz-composite-houses-banner-website-musings.jpg"  alt="leoraw houses banner for website">
			</div>
			<div class="header-container">
				<div class="wrapper header-wrapper">
					<div class="inner-wrapper">
							<div class="site-branding">
								{% if page == 'home' %}
								<h1 class="site-branding-text m-0" role="banner">
									{{site.name}}
								</h1>
								{% else %}
								<h2 class="site-branding-text m-0" role="banner">
									<a class="site-branding-link" href="{{site.url}}" rel="home">{{site.name}}</a>
								</h2>
								{% endif %}
								<p class="site-description">{{site.description}}</p>
							</div>
						</div>
				</div><!-- #wrapper -->
				<div class="header-container nav-container">
						<div class="wrapper header-wrapper">
							<div class="inner-wrapper nav-wrap">
								<div class="mobile-button-wrapper">
									<button type="button" class="button navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-controls="top-menu" aria-expanded="false" id="leoraw-button">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<nav id="mobile-menu" class="page-navigation" role="navigation" aria-label+"Primary Menu">
										<div class="menu-container">
											{% include "menu.twig" with {'items': primary.get_items} %}
										</div>
									</nav>
								</div>
								<nav id="nav-main" class="nav-main" role="navigation">
									{% include "menu.twig" with {'items': primary.get_items} %}
								</nav><!-- #nav -->
								</div>
						</div>
				</div>
			</div><!-- #header-container -->
			{% endblock %}
		</header>

		<section id="content" role="main" class="wrapper">
		 <div class="inner-wrapper">
		{% if page == 'home' %}{% else %}
			{% if title %}<h1>{{title}}</h1>{% endif %}
		{% endif %}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				<div class="wrapper">
					<div class="inner-wrapper">
				{% include 'footer.twig' %}
					</div>
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
